logs
project/project
project/target
target
tmp
.history
dist
/*.iml
/out
/.classpath
/.project
/RUNNING_PID
/.settings
deploy.bat
/.idea/workspace.xml
/.idea/misc.xml
conf/application-prod.conf
conf/application-stage.conf
conf/evolutions.default
