.loading-bar{
    -webkit-animation:1s loading infinite;
    animation:1s loading infinite;
}

.loading-bar-1 {
    -webkit-animation:2.5s loading-1 infinite ease-in-out;
    animation:1s loading-1 infinite ease-in-out;
}

.loading-bar-2 {
    -webkit-animation:2.5s loading-2 infinite ease-in-out;
    animation:1s loading-2 infinite linear;
}

.loading-bar-3 {
    -webkit-animation:2.5s loading-3 infinite ease-in-out;
    animation:1s loading-3 infinite;
}

.loading-bar-4 {
    -webkit-animation:2.5s loading-4 infinite ease-in-out;
    animation:1s loading-4 infinite linear;
}

@-webkit-keyframes loading {
    /*0%,100%  { opacity: 0; }
    50% { opacity: 1; }*/
}

@keyframes loading {
    /*0%,100%   { opacity: 0; }
    50% { opacity: 1; }*/
}

@-webkit-keyframes loading-1 {
    0%,100%  { width:5%; }
    50% { width:55%; }
}

@keyframes loading-1 {
    0%,100%   { width:5%; }
    50% { width:55%; }
}

@-webkit-keyframes loading-2 {
    0%,100%  { width:15%; }
    50% { width:25%; }
}

@keyframes loading-2 {
    0%,100%   { width:15%; }
    50% { width:25%; }
}

@-webkit-keyframes loading-3 {
    0%,100%  { width:25%; }
    50% { width:15%; }
}

@keyframes loading-3 {
    0%,100%   { width:25%; }
    50% { width:15%; }
}

@-webkit-keyframes loading-4 {
    0%,100%  { width:55%; }
    50% { width:5%; }
}

@keyframes loading-4 {
    0%,100%   { width:55%; }
    50% { width:5%; }
}

.loading-bar.ng-hide-add,
.loading-bar.ng-hide-remove {
    display:block!important;
}

.player-score-wrapper {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.player-score {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
    /*display: block;*/
    width:100%;
}

.player-score.ng-move,
.player-score.ng-enter{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.player-score.ng-move,
.player-score.ng-enter {
    opacity:0;
}

.player-score.ng-move.ng-move-active,
.player-score.ng-enter.ng-enter-active {
    opacity:1;
}

.player-score.ng-enter-stagger,
.player-score.ng-move-stagger{
    webkit-transition-delay:0.15s;
    transition-delay:0.15s;
}

.transition-switch-left,
.transition-switch-right{
    position:absolute;
    display:block;
}

.transition-switch-left.ng-hide-add,
.transition-switch-left.ng-hide-add-active,
.transition-switch-left.ng-hide-remove,
.transition-switch-left.ng-hide-remove-active,
.transition-switch-right.ng-hide-add,
.transition-switch-right.ng-hide-add-active,
.transition-switch-right.ng-hide-remove,
.transition-switch-right.ng-hide-remove-active{
    display:block!important;
    -webkit-transition:all ease-out 1s;
    transition:all ease-out 1s;
}


.transition-switch-left,
.transition-switch-right,
.transition-switch-left.ng-hide-remove.ng-hide-remove-active,
.transition-switch-right.ng-hide-remove.ng-hide-remove-active{
    left:4.5%;
    opacity:1;
}

.transition-switch-left.ng-hide
,.transition-switch-right.ng-hide.ng-hide-remove
{
    left:-500px;
    opacity:0;
}

.transition-switch-right.ng-hide
,.transition-switch-left.ng-hide.ng-hide-remove
 {
    left:135%;
    opacity:0;
}