.loading-bar {
    -webkit-animation:2s loading infinite;
    animation:2s loading infinite;
}

@-webkit-keyframes loading {
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes loading {
    0%,100%   { opacity: 0; }
    50% { opacity: 1; }
}

/*
.loading-bar.ng-hide .loading-bar-1 {
    width:15%;
}

.loading-bar.ng-hide .loading-bar-2 {
    width:30%;
}

.loading-bar.ng-hide .loading-bar-3 {
    width:20%;
}

.loading-bar.ng-hide .loading-bar-4 {
    width:35%;
}
*/

.loading-bar.ng-hide-add,
.loading-bar.ng-hide-remove {
    display:block!important;
}
