div.row.scoreboard {
    padding-bottom:5px;
}

div.menu-bar {
    background-color:lightgray;
    margin-bottom:15px;
}

.table.table-striped > tbody > tr > td.creatorRow{
    background-color:lightgoldenrodyellow;
}

.table.table-striped > tbody > tr > td.selfRow{
    background-color:lightgreen;
}

.menu-item {
    width:24%;
    margin-top:0;
}

.activegame-menu-item {
    width:32%;
}

.activegame-menu-bar {
    margin-top:-15px;
    margin-bottom:15px;
    background-color:darkgray;
}

.valign-center {
    vertical-align: middle;
}

.transaction-negative {
    color:red;
}

.transaction-positive {
    color:green;
}