div.row.scoreboard {
    padding-bottom:5px;
    margin-left:0;
    margin-right:0;
}

div.menu-bar {
    background-color:lightgray;
    margin-bottom:15px;
}

.table.table-striped > tbody > tr > td.creatorRow{
    background-color:lightgoldenrodyellow;
}

.table.table-striped > tbody > tr > td.selfRow{
    background-color:lightgreen;
}

.menu-item {
    width:24%;
    margin-top:0;
}

.activegame-menu-item {
    width:32%;
}

.activegame-menu-bar {
    margin-top:-15px;
    margin-bottom:15px;
    background-color:darkgray;
}

.valign-center {
    vertical-align: middle;
}

.transaction-negative {
    color:red;
}

.transaction-positive {
    color:green;
}

.config-section {
    display:block;
    width:100px;
}

.spaced-row{
    margin-bottom:25px;
}

.loading-bar{
    height:10px;
    margin:-20px auto 5px auto;
}

.loading-bar-part{
    height:100%;
    display:inline-block;
    padding:0;
    margin-left:-2px;
    margin-right:-2px;
}

.loading-bar-1{
    width:6%;
    background-color: orange;
}

.loading-bar-2{
    width:9%;
    background-color: mediumpurple;
}

.loading-bar-3{
    width:15%;
    background-color: limegreen;
}

.loading-bar-4{
    width:70%;
    background-color: deeppink;
}