div.row.scoreboard {
    padding-bottom:5px;
}

.table.table-striped > tbody > tr > td.creatorRow{
    background-color:lightgoldenrodyellow;
}

.table.table-striped > tbody > tr > td.selfRow{
    background-color:lightgreen;
}