div.row.scoreboard {
    padding-bottom:5px;
    margin-left:0;
    margin-right:0;
}

div.menu-bar {
    background-color:lightgray;
    margin-bottom:15px;
}

body.with-bottom-nav{
    padding-bottom:50px;
}

.icon-dropdown-list {
    margin:auto;
    padding-left:5px;
}

.row.bump-bottom {
    margin-bottom:5px;
}

.row.nudge-bottom {
    margin-bottom:10px;
}

.row.push-bottom {
    margin-bottom:15px;
}

.row.push-top {
    margin-top:15px;
}

.query-icons {
    margin: 5px auto 5px auto;
    width: 90%;
}

.creatorRow{
    background-color:lightgoldenrodyellow;
}

.selfRow{
    background-color:lightgreen;
}

.menu-item {
    width:24%;
    margin-top:0;
}

.menu-item-3 {
    width:30%;
    margin-top:0;
}

.activegame-menu-item {
    width:32%;
}

.activegame-menu-bar {
    margin-top:-15px;
    margin-bottom:15px;
    background-color:darkgray;
}

.valign-center {
    vertical-align: middle;
}

.transaction-negative {
    color:red;
}

.transaction-positive {
    color:green;
}

.config-section {
    display:block;
    width:100px;
}

.spaced-row{
    margin-bottom:25px;
}

.loading-bar{
    height:10px;
    margin:-20px auto 5px auto;
}

.loading-bar-part{
    height:100%;
    display:inline-block;
    padding:0;
    margin-left:-2px;
    margin-right:-2px;
}

.loading-bar-1{
    width:5%;
    background-color: orange;
}

.loading-bar-2{
    width:15%;
    background-color: mediumpurple;
}

.loading-bar-3{
    width:25%;
    background-color: limegreen;
}

.loading-bar-4{
    width:55%;
    background-color: deeppink;
}

.minicolors-theme-bootstrap .minicolors-input{
    display:none;
}

.newgame-bottom-nav{
    background-color: lightgray;
}

/* Hack to fix bootstrap collapse animations */
.player-detail.collapse{
    height:0!important;
}

.player-detail.collapse.in{
    height:34px!important;
}
