<div id="active-game" ng-controller="ActiveGame">
    <utils-loading></utils-loading>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-1)">-1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-5)">-5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-10)">-10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-50)">-50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-100)">-100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-1000)">-1000</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <h1 class="text-center">{{game.myscore}}</h1>
                </div>
                <div class="row" ng-show="currentTransaction != 0">
                    <h1 class="text-center {{currentTransaction > 0 ? 'transaction-positive' : currentTransaction < 0 ? 'transaction-negative' : ''}}">
                        {{currentTransaction}}
                    </h1>
                </div>
                <div class="row" ng-show="currentTransaction != 0">
                    <div class="text-center">
                        <button class="btn btn-success" ng-click="commitTransaction()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(1)">+1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(5)">+5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block"  ng-click="modifyTransaction(10)">+10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(50)">+50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(100)">+100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(1000)">+1000</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <tr class="player-score">
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    <tr ng-repeat="player in players | orderBy:'score':true" class="player-score">
                        <td ng-class="{creatorRow:player.isCreator,selfRow:player.isMe}">{{player.username}} ({{player.email}})</td>
                        <td ng-class="{creatorRow:player.isCreator,selfRow:player.isMe}">{{player.score}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ng-click="refreshScore()">Refresh</button>
            </div>
            <div class="col-xs-5"></div>
        </div>
    </div>
</div>