<div id="active-game" ng-controller="ActiveGame">
    <div class="container-fluid activegame-menu-bar" ng-show="isA">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    <li class="activegame-menu-item {{displayMode=='Scoreboard' ? 'active' : ''}}">
                        <a class="text-center" ng-click="showScoreboard()"><span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <li class="activegame-menu-item {{displayMode=='Transaction' ? 'active' : ''}}">
                        <a class="text-center" ng-click="showTransaction()"><span class="glyphicon glyphicon-transfer"></span></a>
                    </li>
                    <li class="activegame-menu-item {{displayMode=='Logs' ? 'active' : ''}}">
                        <a class="text-center" ng-click="showLogs()"><span class="glyphicon glyphicon-tree-conifer"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <utils-loading></utils-loading>
    <div class="container">
        <div class="row" ng-show="!isA">
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-1)">-1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-5)">-5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-10)">-10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-50)">-50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-100)">-100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(-1000)">-1000</button>
                </div>
            </div>
            <div class="col-xs-4">
                <h1 class="text-center">{{game.myscore}}</h1>
            </div>
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(1)">+1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(5)">+5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block"  ng-click="addPoints(10)">+10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(50)">+50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(100)">+100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="addPoints(1000)">+1000</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="!isA || displayMode=='Scoreboard'" hm-swipe-right="showTransaction()" hm-swipe-down="refreshScore">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <tr class="player-score">
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    <tr ng-repeat="player in players | orderBy:'score':true" class="player-score">
                        <td ng-class="{creatorRow:player.isCreator,selfRow:player.isMe}">{{player.username}} ({{player.email}})</td>
                        <td ng-class="{creatorRow:player.isCreator,selfRow:player.isMe}">{{player.score}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="isA && displayMode=='Transaction'" hm-swipe-left="showScoreboard()">
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-1)">-1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-5)">-5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-10)">-10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-50)">-50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-100)">-100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(-1000)">-1000</button>
                </div>
            </div>
            <div class="col-xs-4 valign-center">
                <h1 class="text-center {{currentTransaction > 0 ? 'transaction-positive' : currentTransaction < 0 ? 'transaction-negative' : ''}}">
                    {{currentTransaction}}
                </h1>
            </div>
            <div class="col-xs-4">
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(1)">+1</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(5)">+5</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(10)">+10</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(50)">+50</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(100)">+100</button>
                </div>
                <div class="row scoreboard">
                    <button class="btn btn-default btn-block" ng-click="modifyTransaction(1000)">+1000</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="isA && displayMode=='Transaction'">
            <div class="text-center">
                <button class="btn btn-success" ng-click="commitTransaction()">Submit</button>
            </div>
        </div>
        <div class="row" ng-show="isA && displayMode=='Logs'">
            Logs!
        </div>
        <div class="row" ng-show="!isA || displayMode=='Scoreboard'">
            <div class="col-xs-5"></div>
            <div class="col-xs-2">
                <button class="btn btn-primary" ng-click="refreshScore()">Refresh</button>
            </div>
            <div class="col-xs-5"></div>
        </div>
    </div>
</div>