<div id="gameslist" ng-controller="GamesList">
    <div class="container">
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Date</th>
                <th ng-show="createdAny"></th>
            </tr>
            <tr ng-repeat="game in games" ng-click="gameDetail(game.id)" ng-show="!game.deleted">
                <td>{{ game.name }}</td>
                <td>{{ game.creator.username }}</td>
                <td>{{ game.created }}</td>
                <td ng-show="game.creator.id == user.id">
                    <button class="btn btn-danger" ng-click="deleteGame(game.id,$event)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</div>