<div id="create-game" ng-controller="NewGame">
    <utils-loading></utils-loading>

    <div class="container">
        <div class="row push-bottom">
            <div class="col-xs-10">
                <input class="form-control" placeholder="Game Title" ng-model="title" />
            </div>
        </div>
    </div>

    <div class="container full-page">
        <div class="full-page transition-switch-left" id="switch-players" ng-show="newGameActive == 'players'"
             ng-swipe-left="activate('settings')">
            <div ng-repeat="player in players">
                <div class="row bump-bottom">
                    <div class="col-xs-9 panel-title">
                        <input class="form-control" placeholder="Resource name" ng-model="resource.name" />
                    </div>
                    <div class="col-xs-1 text-right">
                        <button type="button" class="btn btn-default" data-toggle="collapse"
                                data-target="#player-resource-detail-{{$index}}" ng-click="collapsed=!collapsed">
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-collapse-down':!collapsed,'glyphicon-collapse-up':collapsed}">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row nudge-bottom">
                    <div class="player-resource-detail collapse" id="player-resource-detail-{{$index}}">
                        <div class="col-xs-5">
                            <select class="form-control" placeholder="Player's name"
                                   ng-model="resource.visibility">
                                <option>Visible</option>
                                <option>Hidden</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <utils-mini-color ng-model="resource.color"></utils-mini-color>
                        </div>
                        <div class="col-xs-2">
                            <utils-icon-select ng-model="resource.iconClass"></utils-icon-select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row push-top">
                    <div class="col-xs-6">
                        <button class="btn btn-default" ng-click="addPlayer()">Add Player</button>
                    </div>
                    <div class="col-xs-4 text-right">
                        <button class="btn btn-default" ng-disabled="!title" ng-click="createGame()">Create</button>
                    </div>
                </div>
        </div>
        <div class="full-page transition-switch-left" id="switch-settings" ng-show="newGameActive == 'settings'"
             ng-swipe-left="activate('resources')" ng-swipe-right="activate('players')">
            <div class="row">
                    <h2>Settings</h2>
                </div>
        </div>
        <div class="full-page transition-switch-left" id="switch-resources" ng-show="newGameActive == 'resources'"
             ng-swipe-right="activate('settings')">
            <div ng-repeat="resource in playerResources">

            </div>

            <div class="row push-top">
                <div class="col-xs-6">
                    <button class="btn btn-default" ng-click="addResource('player')">Add Resource</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="row navbar-fixed-bottom newgame-bottom-nav">
        <div class="container">
            <ul class="nav nav-pills nav-bottom">
                <li class="menu-item-3 {{newGameActive=='players' ? 'active' : ''}}">
                    <a class="text-center" ng-click="activate('players')">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li class="menu-item-3 {{newGameActive=='settings' ? 'active' : ''}}">
                    <a class="text-center" ng-click="activate('settings')">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li class="menu-item-3 {{newGameActive=='resources' ? 'active' : ''}}">
                    <a class="text-center" ng-click="activate('resources')">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>