@(games:List[Models.Game])

@main("Games"){
    <div>
        Nothing here {{1 + 2}}
    </div>

    <ul>
        <li>
            <span>SmallWorld</span>
            <p>
                <span>Players:</span>
                <ul>
                    <li>Kim</li>
                    <li>Annie</li>
                    <li>Hannah</li>
                </ul>
            </p>
        </li>
        <li>
            <span>Game Of Thrones</span>
            <p>
                <span>Players:</span>
                <ul>
                    <li>Alex</li>
                    <li>Mike</li>
                    <li>Ryan</li>
                </ul>
            </p>
        </li>
    </ul>

    <div id="gameslist" ng-controller="GamesList">

        <p>Number of {{entity}}: {{games.length}} </p>

        <ul>
            <li ng-repeat="game in games">
                {{ game.name }}
                <p>
                    <span>Players: </span>
                    <span>{{game.players}}</span>
                </p>
            </li>
        </ul>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    Search: <input ng-model="query" />
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="games">
                <li ng-repeat="game in games | filter:query">
                    {{game.name}}
                    <p>{{game.players}}</p>
                </li>
            </ul>
        </div>
    </div>

   @*
    @games.map { g =>
        <ul>
            <li>@g.id</li>
            <li>@g.name</li>
        </ul>
    }
    *@
}