@(title:String,isTest:Boolean)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" sizes="196x196" href="@routes.Assets.at("images/icon_196.png")">
        <link rel="shortcut icon" sizes="128x128" href="@routes.Assets.at("images/icon_128.png")">
            <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.at("images/icon_57.png")">
            <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("images/icon_72.png")">
            <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("images/icon_76.png")">
            <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/icon_114.png")">
            <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("images/icon_120.png")">
            <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("images/icon_144.png")">
            <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("images/icon_152.png")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @if( !isTest ) {
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.minicolors.css")">
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/animations.css")">
        }else{
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("javascripts/lib/jasmine-2.0.0/jasmine_favicon.png")">
            <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/lib/jasmine-2.0.0/jasmine.css")">
        }

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("javascripts/lib/jquery.minicolors.min.js")"></script>

        @if( isTest ) {
            <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jasmine-2.0.0/jasmine.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jasmine-2.0.0/jasmine-html.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jasmine-2.0.0/boot.js")"></script>
        }

        @if( isTest ) {
            <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-animate.js")" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        }else{
            <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular.min.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-animate.min.js")" type="text/javascript"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        }

        <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-touch.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-cookies.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-route.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/modules/utils/utils.js")" type="text/javascript"></script>
        @if( isTest ) {
            <script src="@routes.Assets.at("javascripts/lib/angular-gestures-0.2.2/gestures.js")" type="text/javascript"></script>
        }else {
            <script src="@routes.Assets.at("javascripts/lib/angular-gestures-0.2.2/gestures.min.js")" type="text/javascript"></script>
        }
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/Welcome.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/GamesList.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/JoinGame.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/NewGame.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/ActiveGame.js")" type="text/javascript"></script>

        @if( isTest ) {
            <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular-1.3.0/angular-mocks.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/test/GamesListSpec.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/test/WelcomeSpec.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/test/NewGameSpec.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/test/ActiveGameSpec.js")"></script>
        }
    </head>

    <body ng-app="bgbApp">
    @if( !isTest ) {
            <div class="menu-bar container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                        <h4>BgB</h4>
                    </div>
                    <div class="col-xs-10">
                        <ul class="nav nav-pills">
                            <li class="menu-item {{isActive=='Welcome' ? 'active' : ''}}">
                                <a class="text-center" href="/#/"><span class="glyphicon glyphicon-home"></span></a>
                            </li>
                            <li class="menu-item {{isActive=='GamesList' ? 'active' : ''}}">
                                <a class="text-center" href="/#/games"><span class="glyphicon glyphicon-list"></span></a>
                            </li>
                            <li class="menu-item {{isActive=='JoinGame' ? 'active' : ''}}">
                                <a class="text-center" href="/#/joingame"><span class="glyphicon glyphicon-share-alt"></span></a>
                            </li>
                            <li class="menu-item {{isActive=='NewGame' ? 'active' : ''}}">
                                <a class="text-center" href="/#/newgame"><span class="glyphicon glyphicon-plus"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <div id="app" ng-view></div>
        <utils-modal></utils-modal>
    }
    </body>
</html>