@()

@main("Welcome to board game banker!") {
    <div id="welcome" ng-controller="Welcome">

        <div ng-switch on="user.found">
            <div ng-switch-when="true">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>
                                Welcome back {{user.username}}
                            </h4>
                            <p>
                                <button class="btn btn-default" ng-click="resetUser()">Log Out</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="false">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4>
                                Welcome to board game banker! Please sign up.
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input class="form-control" placeholder="User Name" ng-model="username" />
                            <input class="form-control" placeholder = "E-mail Address" ng-model="email" />
                            <input type="submit" class="btn btn-default" value="Sign Up" ng-click="createUser(username,email)" />

                            <button type="button" class="btn btn-default" ng-click="resetUser()">Back</button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch-default>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div role="form">
                                <div class="form-group">
                                    <label for="enterEmail">Enter e-mail</label>
                                    <input type="text" class="form-control" id="enterEmail" placeholder="Enter email"
                                           ng-model="userquery" />

                                    <input type="submit" class="btn btn-default" value="Go" ng-click="findUser(userquery)"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}